<div class="inner cover">
	<h1><%= @title %></h1>
	<p class="lead mt-20">
    Fill out all the fields in the form below, and once complete hit submit
    the full campaign URL and QR Code will be generated.
	</p>
	<form action="/generator" method="POST" class="form mt-40">
		<div class="form-group">
      <textarea name="url" class="form-control" placeholder="Eg: http://www.google.com" required></textarea>
		</div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Campaign Source</label>
          <input type="text" name="source" class="form-control"
            placeholder="Eg: newsletter" required>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Campaign Medium</label>
          <input type="text" name="medium" class="form-control"
            placeholder="Eg: banner, email" required>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Campaign Name</label>
          <input type="text" name="name" class="form-control"
            placeholder="Eg: spring_sale" required>
        </div>
      </div>
    </div>
		<div class="mt-20">
			<input type="submit" class="btn btn-lg btn-secondary">
		</div>
	</form>
</div>
